<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>帖子展示页面(只有评论部分)</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/systemCSS.css}" rel="stylesheet"/>
</head>
<body>
    <div id="allComments" th:value="${post.getPostPoint()}" th:if="${comments}">
        <!--展示本帖子下的所有评论和回复-->
        <div class="panel panel-default" th:each="comment:${comments}">
            <!--评论的头部-->
            <div class="panel-heading">
                <div class="col-xs-12">
                    <span class="font-5">
                        <!--跳转到用户个人中心的链接-->
                        <a href="javascript:void(0)">
                            <span class="user" th:value="${comment.getId().getCommentUserId()}">评论用户名</span>
                        </a>
                        <span class="glyphicon glyphicon-bell"></span>
                        <!--评论发表时间-->
                        <span class="grayout smaller-30 time" th:text="${#dates.format(comment.getId().getCommentTime())}" th:value="${comment.getId().getCommentTime()}">
                            评论时间
                        </span>
                        <span class="jinghua-label" title="精华" th:if="${comment.getCommentAccept()}">
                            <span class="glyphicon glyphicon-thumbs-up jinghua-icon"></span>
                        </span>
                    </span>
                </div>
            </div>
            <!--评论内容-->
            <div class="panel-body">
                <div class="main-text smaller-5" th:text="${comment.getCommentContent()}">
                    评论内容
                </div> 
                <!--当帖子是需求帖并且没有采纳任何一条评论，同时登录的人是帖子的主人时显示按钮-->
                <span class="pull-right" th:if="${hasAccept==false} and ${session.user.getUserId()==post.getUserId()} and ${post.getPostPoint()!=0}">
                    <input type="button" class="btn btn-info btn-sm accept" value="采纳"/>    
                </span>
            </div>
        </div>  
        <!--回复输入框-->
        <h4>提交回复</h4>
        <div id="reply">
            <textarea rows="6" id="content"></textarea>
            <button class="btn btn-success float-right">回复</button>
        </div>
    </div>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/commentJS.js}"></script>
</body>
</html>
