<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>技术宅论坛</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/systemCSS.css}" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid head">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">技术宅</span>
                </button>
                <a class="navbar-brand" href="#">技术宅社区</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索话题" id="title">
                    </div>
                    <button type="submit" class="btn btn-default" id="query">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">登录</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> 用户名</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人中心</a></li>
                            <li><a href="#">发帖</a></li>
                            <li><a href="#">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid main">
        <div class="col-sm-10 col-sm-offset-1 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        发现
                    </h3>
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active" id="new">
                            <a href="/postsByTime">最新</a>
                        </li>
                        <li role="presentation" id="hot">
                            <a href="/postsByView">最热</a>
                        </li>
                        <li role="presentation" id="highlight">
                            <a href="/highLightPosts">精华帖</a>
                        </li>
                        <li role="presentation" id="demand">
                            <a href="/demandPosts">需求贴</a>
                        </li>
                    </ul>
                </div>
                <!--置顶部分，不展示简要内容-->
                <div class="panel-body" th:if="${topPosts}">
                    <article class="brief-2" th:each="top:${topPosts}" th:id="${top.getPostId()}">
                        <div class="row">
                            <div class="col-xs-12 h5">
                                <span class="tag top-tag">置顶</span>
                                <span class="tag demand-tag" th:if="${top.getPostPoint()}">需求帖</span>
                                <a href="#" class="bigger-5" th:text="${top.getPostTitle()}">帖子标题</a>
                                <span class="jinghua-label" title="精华" th:if="${top.getPostHighLight()}">
                                    <span class="glyphicon glyphicon-thumbs-up jinghua-icon"></span>
                                </span>
                                <span th:if="${session.user.userAdmin==1 and session.user!=null} and ${top.getPostHighLight()==0}">
                                    <input type="button" class="btn btn-sm btn-info high" value="加精"/>
                                </span>
                                <span class="pull-right smaller-5">
                                    <a href="#">发帖人</a>
                                </span>
                            </div>
                        </div>
                    </article>
                    <hr/>
                </div>
                <!-- 非置顶部分 -->
                <div class="panel-body" th:if="${posts}">
                    <article class="brief-2" th:each="post:${posts}" th:id="${post.getPostId()}">
                        <div class="row">
                            <div class="col-xs-12 h5">
                                <span class="tag demand-tag" th:if="${post.getPostPoint()}">需求帖</span>
                                <a href="#" class="bigger-5">帖子标题</a>
                                <span class="jinghua-label" title="精华" th:if="${post.getPostHighLight()}">
                                    <span class="glyphicon glyphicon-thumbs-up jinghua-icon"></span>
                                </span>
                                <span th:if="${session.user.userAdmin==1 and session.user!=null}">
                                    <span th:if="${post.getPostHighLight() == 0}">
                                        <input type="button" class="btn btn-sm btn-info high" value="加精"/>    
                                    </span>
                                    <input type="button" class="btn btn-sm btn-success top" value="置顶"/>
                                </span>
                                <span class="pull-right smaller-5">
                                    <a href="#">发帖人</a>
                                </span>
                            </div>
                            <div class="col-xs-12 h5">
                                <span class="smaller-5" th:text="'用户名：'+${post.getPostContent()}"></span>
                                <span class="pull-right smaller-30">
                                    <em>
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <!--浏览人数-->
                                        <span style="vertical-align: inherit;" th:text="${post.getPostView()}+'&nbsp'"></span>
                                        <span class="glyphicon glyphicon-bell"></span>
                                        <!--发布时间-->
                                        <span style="vertical-align: inherit;" th:text="${post.getPostTime().substring(0,post.getPostTime().length()-3)}"></span>
                                    </em>
                                </span>
                            </div>
                        </div>
                    </article>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/systemJS.js}"></script>
</body>
</html>
